<!DOCTYPE html>
<html>
  <head>
    <title>SocialMediaTool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <p class="navbar-text float-right">
    <% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Create Post", new_user_post_path(current_user) %></li>
      <li><%= link_to "Edit profile", edit_user_registration_path %></li>
      <li><%= link_to "User Posts",  user_posts_path(current_user) %></li>
      <li><%= link_to "Posts",  user_path(current_user) %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
